<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-cookies.min.js"></script>
		<script type="text/javascript" src="js/home.js"></script>
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/home.css">
		<title>Home</title>
		<base href="/" />
	</head>

	<body ng-app="home" ng-controller="homeController" ng-init="initialize()">
		<nav class="navbar navbar-expand-md navbar-light">
			<a class="navbar-brand" href="/"><img src="https://i.ibb.co/M7bY83h/3f1f8118-d517-442c-a85e-bae0c52d5f5a-200x200.png" height="100px"></img></a>
			<div class="logo btn btn-rounded">
				<a href="/">Home</a>
			</div>

			<div class="btn btn-rounded">
				<a class="nav-link" href="/products.html?categoryID=1">Tools</a>
			</div>

			<div class="btn btn-rounded">
				<a class="nav-link" href="/products.html?categoryID=2">Books</a>
			</div>

			<div class="btn btn-rounded">
				<a class="nav-link" href="/products.html?categoryID=3">Technology</a>
			</div>


			<div class="products">
				<a href="/products.html">Browse All Products<a></a>
			</div>

			<div class="account btn btn-rounded">	
				<a ng-href="{{account.link}}" ng-bind="account.message"></a>
				<a ng-click="signOut()" ng-show="user">Sign out</a>
			</div>
			
			<div class="cart" style>
				<span style="color: white;"><a href="cart.html">Cart</a>: {{numberOfCartItems()}}</span>
			</div>
		</nav>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<div class="container my-3">
			<div class="card-deck mx-auto my-auto ">
			  <div class="card border-0 text-white bg-dark style='max-width: 18rem;'">
				<img class="card-img-top"
				  src="https://images.pexels.com/photos/162625/grinder-hitachi-power-tool-flexible-162625.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
				  alt="Card image cap" height="250px" width="500px">
				<div class="card-body">
				  <h5 class="card-title">Tools</h5>
				  <p class="card-text">The Right Tools For the Job</p>
				  <a href="/products.html?categoryID=1"> <button class="btn btn-white mr-2 my-sm-0" type="submit" style="color: gainsboro;">Browse Tools</button>
				  </a>
				</div>
			  </div>
		  
			  <div class="card border-0 text-white bg-dark style='max-width: 18rem;'">
				<img class="card-img-top "
				  src="https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
				  alt="Card image cap" height="250px" width="500px">
				<div class="card-body">
				  <h5 class="card-title">Books</h5>
				  <p class="card-text">Deals on Books</p>
				  <a href="/products.html?categoryID=2"> <button class="btn btn-white mr-2 my-2 my-sm-0" type="submit" style="color: gainsboro;">Browse Books</button>
				  </a>
				</div>
			  </div>
		  
			  <div class="card border-0 text-white bg-dark style='max-width: 18rem;'">
				<img class="card-img-top"
				  src="https://images.pexels.com/photos/325153/pexels-photo-325153.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
				  alt="Card image cap" height="250px" width="500px">
				<div class="card-body">
				  <h5 class="card-title">Tech</h5>
				  <p class="card-text">The Latest in Tech and Essential Gear</p>
				  <a href="/products.html?categoryID=3"> <button class="btn btn-white mr-2 my-2 my-sm-0" type="submit" style="color: gainsboro;">Browse Tech</button> </a>
				</div>
			  </div>
			</div>
			  </div>
			  <div class="card border-0 text-white bg-dark style='max-width: 18rem;">
			  </div>
			</div>
		  </div>

<!-- 
		<section class="categories">
			<div class="categories-container">
				<div class="category" ng-repeat="category in categories" ng-click="viewCategoryProducts(category)">
					<h5 ng-bind="category.categoryName"></h5>
				</div>
			</div>
		</section> -->

		
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>