body {
  font-family: 'IBM Plex Sans', sans-serif;
}

nav > div {
  min-height: 30px;
  padding: 1rem 2rem;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-items: start;
  border-bottom: 2px solid #CFCFCF;
}

.orders {
  background-color: #F5F5F5;
}

.orders h1 {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

.orders h2 {
  text-align: center;
}

.orders-container {
  margin-top: 1rem;
  display: grid;
  text-align: center;
  grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-left: 3rem;
  margin-right: 3rem;
}

.order {
  border-radius: .5rem;
  background-color: gray;
  opacity: 0.6;
  padding: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.orders:hover{
  background-color: dimgray;
}

#order-btn{
  display: block;
  width: 100%;
  padding: 2rem;
  cursor: pointer;
  margin-bottom: 3rem;
}