.form {
	width: 40%;
	padding: 1em;
	margin: auto;
	background-color: rgb(88, 211, 241);
	border-radius: 1em;
}

body {
	background-color: rgb(123, 137, 182);
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.btn {
	width: 90%;
	padding: 12px 20px;
}