.form {
	color: #ccc;
	width: 40%;
	padding: 1em;
	margin: auto;
	background-color: navy;
	border-radius: 1em;
}

body {
	text-decoration: #ccc;
	background-color: rgb(60, 50, 230);
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.btn {
	width: 90%;
	padding: 12px 20px;
}